<table class="table table-cv table-sm table-borderless table-responsive">
  {% for content in entry.contents %}
    <tr>
      <!-- Cell for content.name, always visible -->
      <td class="p-1 pr-2 text-right font-weight-bold" style="color: var(--global-theme-color);">
        <b>{{ content.name }}</b>
      </td>
      
      <!-- Cell for content.title and content.value -->
      <td class="p-1 pl-2">
        {% if content.position %}
          <div class="font-weight-bold text">{{ content.position }}</div>
        {% endif %}
        {% if content.PI %}
        <div class="font-weight-light text">{{ content.PI }}</div>
        {% endif %}
        {% if content.department %}
        <div class="font-weight-light text">{{ content.department }}</div>
        {% endif %}
        {% if content.institution %}
          <div class="font-weight-light text">{{ content.institution }}</div>
        {% endif %}
        {% if content.location %}
          <div class="font-weight-light text">{{ content.location }}</div>
        {% endif %}
        {% if content.value %}
          <div class="font-weight-light text">{{ content.value }}</div>
        {% endif %}
        {% if content.paragraph %}
          <!-- Adjust padding-left to align with the text of content.position or content.value -->
          <div class="font-weight-light text" style="margin-top: .7em;">{{ content.paragraph }}</div>
        {% endif %}
        {% if content.description %}
          <!-- Adjust padding-left to align with the text of content.position or content.value -->
          <ul class="items" style="margin-top: .7em; padding-left: 1.5em;">  <!-- Adjust padding-left as necessary -->
            {% for item in content.description %}
              <li>
                <span class="item-title">{{ item.position }}</span>
                {% if item.contents %}
                  <ul class="subitems" style="padding-left: 1.5em;">  <!-- Adjust padding-left for subitems as well -->
                    {% for subitem in item.contents %}
                      <li>
                        <span class="subitem">{{ subitem }}</span>
                      </li>
                    {% endfor %}
                  </ul>
                {% else %}
                  <span class="item">{{ item }}</span>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </td>

    </tr>
  {% endfor %}
</table>