<ul class="card-text font-weight-light list-group list-group-flush">
  {% for content in entry.contents %}
    <li class="list-group-item">
      <div class="row">
        {% if content.year %}
          <div class="col-xs-3 cl-sm-3 col-md-3 mt-2 mt-md-n1" style="color: var(--global-theme-color)">
            <table class="table-cv">
              <tbody>
                <tr>
                  <td>
                    <span class="font-weight-bold align-middle"; style="color: var(--global-theme-color); min-width: 75px; white-space: nowrap;">
                      {{- content.year -}}
                    </span>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        {% endif %}
        
        
        {% if content.pubtitle %}
          <h6 class="pubtitle font-weight-light col-xs-12 cl-sm-12 col-md-12 mt-2 mt-md-0" style="color: var(--global-theme-color)">{{ content.pubtitle }}</h6>
        {% endif %}
        {% if content.publink %}
          <h6 class="publink font-weight-bold col-xs-12 cl-sm-12 col-md-12 mt-2 mt-md-0" style="color: var(--global-theme-color)">{{ content.publink }}</h6>
        {% endif %}   
        {% if content.author %}
          <h6 class="author font-weight-light col-xs-12 cl-sm-12 col-md-12 mt-2 mt-md-0">{{ content.author }}</h6>
          {% endif %}   
        {% if content.journal %}
          <h6 class="journal font-weight-light col-xs-12 cl-sm-12 col-md-12 mt-2 mt-md-0">{{ content.journal }}</h6>
        {% endif %}  
      
        <div class="col-xs-9 cl-sm-9 col-md-9 mt-2 mt-md-0">
          {% if content.position %}
            <h6 class="position font-weight-bold ml-1 ml-md-4">{{ content.position }}</h6>
          {% endif %}
          {% if content.lab %}
          <h6 class="lab font-weight-light ml-1 ml-md-4">{{ content.lab }}</h6>
          {% endif %}
          {% if content.department %}
          <h6 class="department font-weight-light ml-1 ml-md-4">{{ content.department }}</h6>
          {% endif %}
          {% if content.institution %}
          <h6 class="institution font-weight-light ml-1 ml-md-4">{{ content.institution }}</h6>
          {% endif %}
          {% if content.location %}
            <table class="table-cv ml-1 ml-md-4 institution">
              <tbody>
                  <tr>
                    <td style="vertical-align: top; text-align: center" class="location">
                      <i class="fa-solid fa-location-dot iconlocation"></i>
                    </td>
                    <td class="location">{{ content.location }}</td>
                  </tr>
              </tbody>
            </table>
          {% endif %} 
          {% if content.basic %}
          <h6 class="basic font-weight-light ml-1 ml-md-4">{{ content.basic }}</h6>
          {% endif %} 
          {% if content.maindescription %}
            <div class="ml-1 ml-md-4">{{ content.maindescription }}</div>
          {% endif %}
          {% if content.description %}
            <ul class="items">
              {% for item in content.description %}
                <li>
                  {% if item.contents %}
                    <span class="item-title">{{ item.title }}</span>
                    <ul class="subitems">
                      {% for subitem in item.contents %}
                        <li>
                          <span class="subitem">{{ subitem }}</span>
                        </li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    <span class="item">{{ item }}</span>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          {% if content.items %}
            <ul class="items">
              {% for item in content.items %}
                <li>
                  {% if item.contents %}
                    <span class="item-title">{{ item.title }}</span>
                    <ul class="subitems">
                      {% for subitem in item.contents %}
                        <li>
                          <span class="subitem">{{ subitem }}</span>
                        </li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    <span class="item">{{ item }}</span>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          
          {% if content.linkitems %}
            <div class="container-links ml-1 ml-md-4">
              {% for item in content.linkitems %}
                {% if item.link %}
                  <div class="container-link-button">
                    {% if item.linkname %}
                      <a href="{{ item.link }}" target="_blank" class="btncv z-depth-0">{{ item.linkname }}</a>
                    {% else %}
                      <a href="{{ item.link }}" target="_blank" class="btncv z-depth-0">doc</a>
                    {% endif %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
